@font-face {
    font-family: Iranian Sans;
    src: url(Iranian\ Sans.ttf);
}

@font-face {
    font-family: Iranian Sansb;
    src: url(irsansb.ttf);
}

@font-face {
    font-family: LeagueSpartanB;
    src: url(LeagueSpartan-Bold.ttf);
}